services:
  serve:
    build:
      context: .
    env_file:
      - .env
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - ADMIN_USERNAME=${ADMIN_USERNAME}
    restart: always
    volumes:
      - ./states:/app/states
    ports:
      - 15901:5900